<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Round Table</title>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
		/>
		<link rel="stylesheet" href="/style.css" type="text/css"></link>
		<!-- Compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	</head>

	<body>
			<%- include('navBar.ejs') -%>

      
		
		<div class="container">
			<h3>Ayappa Krishnappa</h3>
		</div>
		<div id="p1" class="container">
			<p>
				Reserve a seat at round table to enjoy, share, make new friends and
				learn at the round table. Round Table can be for anything like Meetings,
				searching for buddy, Tech talk and Events etc. Any one who is interested
				can reserve a seat at round table or create a new Round Table for
				others.
			</p>
		</div>
		<div id="p2" class="container">
			<p>
				So check the Tables to look-up for new tables to reserve a seat or
				create a new Round Table with New Round Table.
			</p>
		</div>

		<span style="position: fixed; bottom: 0;	width: 100%"><%- include('fotter.ejs') -%></span>	</body>
</html>
